
.header {
  background-image: url("../image/taust2.jpg");
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-weight: 46px;
}
.navigation {
font-size: 24px;
}
em {
  color: rgb(249, 93, 197);
  font-style: normal;
}
img {
  display: grid;
  grid-template-columns: max-content auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  grid-gap: 20px;
  width: 150px;
  height: 150px;
  align-items: center;
  border-radius: 100px;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  grid-row: 1 / span 2
}
div {
  unicode-bidi: isolate;
}
