/* klassi nimejärgi
.klassinimi {}

id nime järgi
#id_nimi {}

tag järgi 
p {} */

.header {
  background-image: url("../image/taust2.jpg");
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-weight: 46px;
  
}

.navigation {
  font-size: 24px;
}
section {
  display: grid;
}

img {
  border-radius: 10px;
  margin: 3px;
  width: 500px;
  height: 100px;
  object-fit: cover;
  grid-row: 1 / span 2; /*ei pruugi töötada */
}

body {
  background-color: rgb(48, 46, 50);
  font-family:courier;
}
h1, h2 {
font-family: verdana;
}

main {
  background-color: rgb(184, 185, 185);
}
header {
  background-color: beige;
}
